.hero {
    background-image: url('/static/Hero.jpg'); 
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 30px;
}

.hero h2 {
    font-size: 100px; 
    color: #ffffff;
    margin: 0px;
    padding: 10px 40px;
}

.hero p {
    color: #ffffff;
    font-weight: bold;
}

.cta-button {
    background-color: #3C1642;
    color: white;
    padding: 20px 55px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.cta-button:hover {
    background-color: #6E4277;
}

.travel-companion {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    padding: 20px 60px;
}

.travel-companion h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.travel-companion p {
    font-size: 16px;
    line-height: 1.5;
}

.travel-companion strong {
    font-weight: bold;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3C1642;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: calc(100% - 12px); 
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 14px;
    background-color: #3C1642;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6E4277;
}

#responseArea {
    margin-top: 20px;
    padding : 20px 80px;
    background-color: #000000; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F7F2F7;
    color: #000000; 
    font-size: 0.95em; 
    line-height: 1.4; 
}

/* Highlight Titles in the itinerary */
#responseArea .title {
    font-weight: bold;
    color: #3C1642; 
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Style for days and costs to make them stand out */
#responseArea .day {
    font-weight: bold;
    color: #333;
}

#responseArea .cost {
    color: #6E4277; 
}

#responseArea ul {
    list-style-type: none; 
    padding-left: 20px; 
}

#responseArea ul li:before {
    content: '• '; 
    color: #3C1642; 
    font-weight: bold; 
}

/* Tips and recommendations */
#responseArea .tips, #responseArea .recommendations {
    border-left: 4px solid #3C1642;
    background-color: #e7f1ff;
    padding: 10px;
    margin-top: 15px;
}

#responseArea .tips-title, #responseArea .recommendations-title {
    font-weight: bold;
    color: #6e4277;
}


/* Footer adjustment */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    position: relative; 
    width: 100%;
    top: 20px; 
}

/* Ensuring the entire page content is visible */
body {
    margin-bottom: 60px; /* Add space at the bottom to ensure footer does not overlap content */
}


@media only screen and (max-width: 1000px) {
    .hero {
        height: 85vh;
    }
}

@media only screen and (max-width: 600px) {
    .hero h2 {
        font-size: 70px;
    }
}





